<div class="col-md-12 my-2">
  <%= form_with(model: note, local: true) do |form| %>
    <div class="field m-3">
      <h5>タイトル</h5>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
    <div class="field m-3">
      <h5>タグ</h5>
      (複数登録する場合は","で区切る)
      <%= form.text_field :name,value: tags, class: 'form-control' %>
    </div>
    <div class="p-3 my-3">
      <div>
        <h5>公開ステータス</h5>
      </div>
      <div class="form-check">
        <%= form.radio_button :status, true, class: 'form-check-input' %>
        <%= form.label :status, "公開", class: 'form-check-label' %> (すべての人が閲覧できます)
      </div>
    
      <div class="form-check">
        <%= form.radio_button :status, false, class: 'form-check-input' %>
        <%= form.label :status, "非公開", class: 'form-check-label' %> (自分のみ閲覧できます)
      </div>
    </div>

    <div class="field my-3">
      <%= form.rich_text_area :content %>
    </div>
    <div class="field m-3">
      <%= form.submit :作成, class: 'btn btn-success px-3' %>
    </div>
  <% end %>
</div>
