<h1>ノート</h1>
<p>Find me in app/views/user/note/show.html.erb</p>

<div>
タイトル：<%= link_to @note.title %>
</div>

<div>
＃<%= @note.category %>
</div>

<div>
<% unless @note.user_id == current_user.id %>
  <%= link_to @note.user.name,user_path(@note.user_id) %>
<% end %>
</div>

<div class="text border">
<%= @note.content %>
</div>

<div>
<% if @note.user == current_user %>
  <%= link_to "編集", edit_note_path(@note.id), class:"btn btn-sm btn-success" %> |
  <%= link_to "削除", note_path(@note.id), class:"btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>
</div>

<table>
  <thead>
  <th>コメント数：<%= @note.comments.count %></th>
  </thead>
    <% @note.comments.each do |comment| %>
  <tbody>
      <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= comment.user.name %></td>
      <td></td>
      <td><%= comment.text %></td>
      <td>
        <% if comment.user == current_user %>
            <%= link_to "削除", note_comment_path(comment.note, comment), method: :delete %>
          <% end %>
      </td>
  </tbody>
    <% end %>
</table>

<div>
  <%= form_with model: [@note, @comment] do |f| %>
    <%= f.text_area :text, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信" %>
  <% end %>
</div>