<div class="row mt-3 row-content">
  <div class="col-md-10 offset-1 my-3">
    <h2>報告内容</h2>
    <% if @report.report_status %>
      <h4><h4>報告ID:<%= @report.id %></br>対応状況：<strong class="text-success">対応済</strong></h4>
    <% else %>
      <h4><h4>報告ID:<%= @report.id %></br>対応状況：<strong class="text-danger">未対応</strong></h4>    
    <% end %>
    <h4 class="sentiment-score">投稿内容の印象：<span  style="color: <%= color_by_score(@comment.score) %>;"><%= text_by_score(@comment.score) %></span></h4>
    </div>
    <div class="col-md-8 offset-2">
    <%= render 'user/comment/show', comment:@comment %>
  </div>
</div>
<div class="row mt-3 row-content">
  <div class="col-md-12 my-3 text-center">
    <h4 class="font-weight-bold">報告理由</h4>
  </div>
  <div class="col-md-8 offset-2 py-3 border">
    <%= @report.text %>
  </div>
  <div class="col-md-4 offset-4 py-3 d-flex justify-content-between">
    <div class="mt-5">
    <% if @comment.hidden %>
      <h4>管理状態：<strong class="text-success">公開可</strong></h4>
    <% else %>
      <h4>管理状態：<strong class="text-danger">非公開</strong></h4>    
    <% end %>
    </div>
    <div class="my-4 offset-1">
      <%= button_to '公開可', admin_comment_path(@comment,hidden: true, report_id: @report.id), method: :patch, class:"btn btn-sm btn-warning" %>
      <%= button_to '非公開', admin_comment_path(@comment,hidden: false, report_id: @report.id), method: :patch, class:"btn btn-sm btn-warning" %>
    </div>
  </div>
  <div class="col-md-10 offset-2 py-3">
    <%= render 'admin/reports/form', record:@comment,report:@report %>
  </div>
</div>
