<h1>不適切な投稿の報告</h1>
<p>Find me in app/views/user/reports/new.html.erb</p>

<%= form_with model: @report, url: reports_path do |form| %>
  <%= form.hidden_field :reportable_type, value: @report.reportable_type %>
  <%= form.hidden_field :reportable_id, value: @report.reportable_id %>
  
  <%= form.text_area :text, rows: '7', placeholder: "報告理由を記載してください" %>
  
  <%= form.submit "不適切な投稿として報告", class:"btn btn-sm btn-warning" %>
<% end %>