<div class="container">
  <div class="row row-content">
    <div class="row">
      <div class="col-md-10 mt-5 border-bottom">
        <h3><%= @user.name %>さんのマイページ</h3>
      </div>
      <div class="col-md-4 my-4">
        <!-- ユーザー情報 -->
        <div class="mt-4">
        <table class="table">
          <tr>
            <% if current_user == @user %>
            <td class=" my-3">
              <% if @user.status %>
                ユーザー情報：<strong class="text-success">公開中</strong><br>
              <% else %>
                ユーザー情報：<strong class="text-secondary">非公開</strong><br>
              <% end %>
              <%= form_with(model: @user, url: user_path(@user), method: :patch) do |form| %>
                <%= form.radio_button :status, true %>
                <%= form.label :status, "公開",value: true %><br>
                <%= form.radio_button :status, false %>
                <%= form.label :status, "非公開",value: false %>
                <%= form.submit "変更", class: "btn btn-info" %>
              <% end %>
            </td>
          <% end %>
          </tr>
          <tr>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <td><%= @user.introduction %></td>
          </tr>
          <tr>
            <td>
              <h6>フォロー中：<%= link_to follows_user_path(@user) do %><%= @following_users.count %><% end %></h6>
            </td>
          </tr>
          <tr>  
            <td>  
              <h6>フォロワー：<%= link_to followers_user_path(@user) do %><%= @follower_users.count %><% end %></h6>
            </td>
          </tr> 
          <% if user_signed_in? && current_user != @user %>
          <tr>
            <td>
              <% if current_user.following?(@user) %>
                <%= link_to "フォローをやめる", user_relationships_path(@user.id), method: :delete, class: "btn btn-danger" %>
              <% else %>
                <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-success" %>
              <% end %>
            </td>
          </tr>
          <% end %>
          <tr>
            <td>
              <% if @user.guest_user? %>
                <!-- ゲストユーザーの場合の処理 -->
              <% elsif @user == current_user %>
                <%= link_to edit_user_registration_path, class: "btn btn-outline-secondary" do %>
                  <i class="fa-solid fa-user-gear "></i> 設定
                <% end %>
              <% else %>
                <!-- 他のユーザーの場合の処理 -->
              <% end %>
            </td>
          </tr>
        </table>
        </div>
      </div>
      <div class="col-md-8">
        <% if current_user != @user %>
          <% if @user.status %>
            <!-- @userのstatusがtrueの場合の処理 -->
            <%= render "user/users/post", notes: @notes, favorite: @favorite, user: @user, record: @record %>
          <% else %>
            <!-- @userのstatusがfalseの場合の処理 -->
            <div class="col-md-7 offset-2 my-4"><h4><%= "アカウントは非公開です。" %></h4>
            </div>
          <% end %>
        <% else %>
            <%= render "user/users/post", notes: @notes, favorite: @favorite, user: @user, record: @record %>
        <% end %>
      </div>
  </div>
</div>
  </div>
