<div class="col-md-12 table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>報告日</th>
        <th>報告ID</th>
        <th>通報されたユーザー</th>
        <th>種別</th>
        <th>報告者からの印象</th>
        <th>対応状況</th>
      </tr>
    </thead>
    <tbody>
      <% if data.present? %>
        <% data.each do |list| %>
          <tr>
            <td><%= list.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
            <% case list.reportable_type %>
              <% when 'Note' %>
                <td><%= link_to list.id, admin_note_path(list) %></td>
              <% when 'Comment' %>
                <td><%= link_to list.id, admin_comment_path(list) %></td>
              <% when 'Record' %>
                <td><%= link_to list.id, admin_record_path(list) %></td>
            <% end %>
            <td><%= list.reportable.user.name %></td>
            <td>
              <% case list.reportable_type %>
                <% when 'Note' %>
                  <%= 'ノート' %>
                <% when 'Comment' %>
                  <%= 'コメント' %>
                <% when 'Record' %>
                  <%= '学習記録' %>
              <% end %>
            </td>
            <!--app/helpers/application_helper.rbにscoreの条件分岐設定を記述-->
            <td class="score" style="color: <%= color_by_score(list.score) %>;">
              <%= text_by_score(list.score) %>
            </td>
            <td>
              <% if list.report_status %>
                <strong class="text-success">対応済</strong>
              <% else %>
                <strong class="text-danger">未対応</strong>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="4">報告がありません</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

