<h1>報告内容</h1>
<% if @report.report_status %>
  <p>対応状況：<strong class="text-success">対応済</strong></p>
<% else %>
  <p>対応状況：<strong class="text-danger">未対応</strong></p>    
<% end %>

<div>
タイトル：<%= @note.title %>
</div>

<div>
  <% @tags.each do |tag| %>
    #<%= tag.name %>
  <% end %>
</div>

<div>
  <%= link_to @note.user.name,edit_admin_user_path(@note.user_id) %>
</div>
  <% if @note.status %>
    <p>投稿者の公開設定：<strong class="text-success">公開</strong></p>
  <% else %>
    <p>投稿者の公開設定：<strong class="text-secondary">非公開</strong></p>    
  <% end %>

<div class="text border">
  <%= @note.content %>
</div>

<div class="text border">
  <p>報告理由</p>
  <%= report.text %>
</div>
<div>
  <% if data.hidden %>
    <p>管理状態：<strong class="text-success">公開可</strong></p>
  <% else %>
    <p>管理状態：<strong class="text-danger">非公開</strong></p>    
    <% end %>
    <%= form_with model: data, url: admin_note_path(data) do |form| %>
      <%= form.radio_button :hidden, true %><%= form.label :hidden, "公開可とする" %>
      <%= form.radio_button :hidden, false %><%= form.label :hidden, "非公開にする" %>
      <%= form.submit "更新する", class: "btn btn-sm btn-warning" %>
    <% end %>
</div

<%= render 'admin/reports/form', data:@note,report:@report %>