<div class="row mt-3 row-content">
  <div class="col-md-10 offset-1 my-3">
    <h2>報告内容</h2>
    <% if @report.report_status %>
      <h4>報告ID:<%= @report.id %><br>対応状況：<strong class="text-success">対応済</strong></h4>
    <% else %>
      <h4>報告ID:<%= @report.id %><br>対応状況：<strong class="text-danger">未対応</strong></h4>    
    <% end %>
    <!--投稿内容の感情分析スコア-->
    <h4 class="sentiment-score">投稿内容の印象：<span style="color: <%= color_by_score(@note.score) %>;">
      <%= text_by_score(@note.score) %></span></h4>
  </div>
    <div class="col-md-10 offset-1 my-3">
        <!-- タイトル -->
        <div class="col-md-12 my-3 text-center">
          <h2><span class="border-bottom px-4"><%= @note.title %></span></h2>
        </div>
        <!-- ユーザー情報 -->
        <div class="col-md-10 my-3">
          <h5>作成者：<%= link_to @note.user.name, edit_admin_user_path(@note.user_id), class: "link-color" %></h5>
        </div>
        <div class="col-md-10 my-3">
          作成日：<%= @note.created_at.strftime('%Y/%m/%d') %></br>
          更新日：<%= @note.updated_at.strftime('%Y/%m/%d') %></br>
          <% if @note.status %>
            <h5><span class="font-weight-bold">公開設定</span>：<strong class="text-success">公開</strong></h5>
          <% else %>
            <h5><span class="font-weight-bold">公開設定</span>：<strong class="text-secondary">非公開</strong></h5>
          <% end %>
        </div>
        <!--タグ-->
        <div class="col-md-10 my-3">
          <% @tags.each do |tag| %>
            <span class="px-2 py-1 tag-color rounded">
            <%= tag.name %>
            </span>
          <% end %>
        </div>
    </div>
      <!-- ノートの内容 -->
    <div class="col-md-10 offset-1 my-3">
      <div class="text border">
        <%= @note.content %>
      </div>
    </div>
</div>
<div class="row mt-3 row-content">
  <div class="col-md-12 my-3 text-center">
    <h4 class="font-weight-bold">報告理由</h4>
  </div>
  <div class="col-md-8 offset-2 py-3 border">
    <%= @report.text %>
  </div>
  <div class="col-md-4 offset-4 py-3 d-flex justify-content-between">
    <div class="mt-5">
    <% if @note.hidden %>
      <h4>管理状態：<strong class="text-success">公開可</strong></h4>
    <% else %>
      <h4>管理状態：<strong class="text-danger">非公開</strong></h4>    
    <% end %>
    </div>
    <div class="my-4 offset-1">
      <%= button_to '公開可', admin_note_path(@note,hidden: true, report_id: @report.id), method: :patch, class:"btn btn-sm btn-warning" %>
      <%= button_to '非公開', admin_note_path(@note,hidden: false, report_id: @report.id), method: :patch, class:"btn btn-sm btn-warning" %>
    </div>
  </div>
  <div class="col-md-10 offset-2 py-3">
    <%= render 'admin/reports/form', record:@note,report:@report %>
  </div>
</div>



