<% if controller_name != 'sessions' %>
  <% if user_signed_in? %>

    <%= form_tag(search_path,:method => 'get') do %>
      <%= text_field_tag :search %>
      <%= submit_tag '検索', :name => nil %>
    <% end %>

  <% elsif admin_signed_in?  %>
    <%= form_with url: admin_search_path, method: :get do |f| %>
      ユーザー：<%= f.text_field :text, value: @value, class:"rounded" %>
      対応状況：<%= f.select :status, options_for_select({すべて: 1, 対応済: true, 未対応: false}, @select) %>
      <%= f.submit "検索", class:"rounded" %>
    <% end %>
  <% end %>
    <div class="offset-1"></div>
<% end %>